body {
    background-color: lightgreen;
}

/*Unidades absolutas*/
/*in-->pulgadas, cm -->centimetros, mm -->milímetros, pt-->puntos, pc-->picos*/

h1{
    font-size: 3rem;
    font-size: 2rem;
    font-size: 2em;
}

.container {
    font-size: 20px;
}

.container h2{
    font-size: 10px;
    font-size: 1rem;
    margin: 2em; /*margin-top:40 px */


}